html {
	font-family: 微软雅黑, 'Microsoft Yahei', '冬青黑体简体中文 w3', 宋体, Lato, Calibri, Arial, sans-serif;
	font-size: 16px;
	background-color: #fafafa;
}

body {
	box-sizing: border-box;
}

.container {

	display: flex;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: #54abee;
}

.container .card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .card-list .loader {
	justify-content: center;
}

.container .card-list .loader .line-scale-pulse-out div {
	background-color: #54abee;
}

.container .card-list .loader.loader-sm .loader-inner div {
	height: 15px;
}

.fake-link {
	display: block;
	text-decoration: none;
}

.loader {
	display: flex;
	align-items: center;
}

.loader-hidden {
	display: none;
}
