/* --- Kuitos 的样式 --- */

.blue-button {
    height: 20px;
    width: 70px;
    color: #fff;
    background: #2495C7 -webkit-linear-gradient(top, #31B1EB, #2495C7);
    background: #2495C7 -moz-linear-gradient(top, #31B1EB, #2495C7);
    background: #2495C7 linear-gradient(top, #31B1EB, #2495C7);
}

.return-to-list {
    position: absolute;
    left: -290px;
    top: -8px;
    font-size: 12px;
}

.create-activity {
    position: absolute;
    left: -290px;
    top: 3px;
}

.status-filter {
    color: #00aaf1;
    float: right;
    margin-right: 20px;
}

/* --- Kuitos 的样式 end --- */

/**
 * 通用
 */

.button-light-blue {
    color: #0083ba;
    line-height: 23px;
    padding-bottom: 0;
    padding-top: 0;
}

/**
 * 手机 Mock
 */

.gm-mock {
    background: #6c6c6c;
    border-radius: 37px;
    height: 691px;
    position: relative;
    width: 344px;
}

.gm-mock:before {
    border: 4px solid #dadbdd;
    border-radius: 50%;
    content: ' ';
    height: 17px;
    margin-left: -8.5px;
    position: absolute;
    left: 50%;
    top: 8px;
    width: 17px;
}

.gm-mock:after {
    border: 4px solid #dadbdd;
    border-radius: 7px;
    height: 13px;
    content: ' ';
    margin-left: -31px;
    position: absolute;
    left: 50%;
    top: 33px;
    width: 62px;
}

.gm-mock-content {
    background: #fff;
    overflow-x: hidden;
    position: absolute;
    bottom: 37px;
    left: 13px;
    right: 13px;
    top: 54px;
}

/**
 * 图片上传
 */

.gme-img-preview,
.gme-img-add {
    display: inline-block;
    height: 108px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    width: 108px;
}

.gme-img-opr {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out;
}

.gme-img-preview:hover .gme-img-opr {
    opacity: 1;
}

.gme-img-remove,
.gme-img-left,
.gme-img-right {
    cursor: pointer;
    font-size: 12px;
    position: absolute;
}

.gme-img-remove {
    font-size: 16px;
    font-weight: 700;
    right: 10px;
    top: 0;
}

.gme-img-left {
    bottom: 0;
    left: 5px;
}

.gme-img-right {
    bottom: 0;
    right: 5px;
}

.gme-img-preview.loading:after {
    background: linear-gradient(-45deg, #666 25%, #e2e2e2 25%, #e2e2e2 50%, #666 50%, #666 75%, #e2e2e2 75%);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
    content: ' ';
    height: 16px;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@-webkit-keyframes loading {
    from {
        background-position: 32px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes loading {
    from {
        background-position: 32px 0;
    }
    to {
        background-position: 0 0;
    }
}

.gme-img-preview > img {
    height: 100%;
    width: 100%;
}

.gme-img-add {
    border: 1px dashed #a4a4a4;
    overflow: hidden;
}

.gme-img-add:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: background 0.3s ease-in-out;
}

.gme-img-add:before,
.gme-img-add:after {
    background: #bbb;
    content: ' ';
    position: absolute;
}

.gme-img-add:before {
    height: 4px;
    margin-left: -10px;
    margin-top: -2px;
    left: 50%;
    top: 50%;
    width: 20px;
}

.gme-img-add:after {
    height: 20px;
    margin-left: -2px;
    margin-top: -10px;
    left: 50%;
    top: 50%;
    width: 4px;
}

.gme-img-add > [type=file] {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.screens-box .select-all {
    border-right: 1px solid #ccc;
}

.screens-box .select-all label {
    margin: 0 12px;
}

.gme-img-upload {
    width: 360px;
    max-height: 345px;
    overflow: hidden;
}
