/**
 * Created by Ash on 15/8/21.
 * 兑换订单
 */


/* 订单详情 */
.gme-dialog-section {
  background: #fcfcfc;
  border: 1px solid #e9e9e9;
  margin-top: 5px;
  overflow: hidden;
}

.gme-order-info {
  float: left;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

.gme-order-info {
  border-right: 1px solid #e9e9e9;
  width: 285px;
}

.gme-order-info > h4 {
  background: #f2f2f2;
  border-bottom: 1px solid #e9e9e9;
  line-height: 30px;
  padding: 0 15px;
}

.gme-order-info-list {
  line-height: 35px;
  margin: 5px 20px;
}

.gme-order-info-list .address{
  display: inline-block;
  line-height: 18px;
  max-height: 60px;
  width: 184px;
  overflow-y: auto;
  margin-top: 9px;
}

.gme-order-edit {
  margin-left: 285px;
  padding: 30px 40px;
}

.gme-order-title {
  font-size: 14px;
  margin: 20px 0 15px;
}

.gme-order-edit td:first-child {
  padding-right: 1em;
  text-align: right;
}

.gme-add-logistic {
  color: #0083ba;
  cursor: pointer;
}


/* 选择物流公司 */

.gme-log-select-all {
  margin: 5px 0 15px;
}

.gme-log-list {
  margin-left: -8px;
  margin-right: -8px
}

.gme-log-list-item {
  float: left;
  padding: 0 8px 16px;
  width: 20%;
}

.gme-log-list-item > label {
  background: #eff7ff;
  border: 1px solid #dcdcdc;
  display: block;
  color: #666;
  line-height: 28px;
  position: relative;
  overflow: hidden;
}

.gme-log-list-item > label:hover {
  background: #f6fbff;
  cursor: pointer;
}

.gme-log-list-item [type=checkbox] {
  opacity: 0;
}

.gme-log-list-item.selected > label {
  background: #f0f9f2;
  border-color: #1eb91a;
}

.gme-log-list-item.selected > label:after {
  background: #1eb91a;
  content: ' ';
  height: 28px;
  position: absolute;
    bottom: -14px;
    right: -14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 28px;
}

.gme-log-list-item.selected span:after {
  background: url(../images/icon-tick.png);
  content: ' ';
  height: 6px;
  position: absolute;
    bottom: 2px;
    right: 1px;
    z-index: 1;
  width: 9px;
}

.table-max-size{
  max-height: 105px;
  overflow: auto;
}