.view-setting-table tr > td:first-child {
    width: 140px !important;
}

.iphone-page-box {
    padding-top: 0;
    background-color: #f7f7f7;
}

.mg-nike, .botton-primary {
    -webkit-appearance: none;
    border: 0;
    display: block;
    height: 2.5rem;
    width: 100%;
    padding-left: 5px;
}

.botton-primary {
    border: 0;
    border-radius: 0.25rem;
    color: #ffffff;
    padding: 0;
    background: #f54365 !important;;
}

.idcard-agree-box {
    padding: 0.9375rem;
    background: #ffffff;
    margin-top: 12px;
}

.idcard-company {
    color: #404040;
}

.idcard-agree-content {
    height: auto;

}

.idcard-agree-content .title-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 28px;
    border-bottom: solid 1px #ebebeb;
}

.idcard-agree-content .title-box h2 {
    font-size: 2rem;
    font-weight: 700;
}

.idcard-agree-content .content-box {
    padding: 5px;
}

.idcard-agree-content .content-box em {
    color: inherit;
}

.idcard-agree-more .down,
.idcard-agree-more .top {
    background-image: url(../images/shopIcon.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.idcard-agree-more .down {
    background-position: -2px -42px;
}

.idcard-agree-more .top {
    background-position: -2px -22px;
}

.view-setting-table .desc-highlight {
    color: #ff5243;
}

.view-setting-table .desc {
    color: #676767;
}

.view-setting-table .stores-upload-box {
    display: inline-block;
    position: relative;
    top: -11px;
}

.idcard-agree em {
    color: inherit;
    font-style: italic;
}

.idcard-agree ul,
.idcard-agree ol {
    padding-left: 25px;
}

#shortMallUrl, #mallUrl {
    height: 25px;
}

.desc-qrcode {
    height: 100px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 105px;
    color: #b5b5b5;
    font-size: 12px;
}
.desc-content-box{
    margin-top: 10px;
    position:relative;
}
.settings-box{
    min-width: 700px;
}
.refresh-box{
    position: absolute;
    top:0;
    right:-13px;
    height: 100px;
}
/*.in-box {*/
    /*margin-bottom: -40px;*/
/*}*/

/**
 * 领卡
 * @author Ash.Zhang
 * @create 2015/08/28
 */
.idcard-box {
    background: #ffffff;
    padding: 0.9375rem;
}

.idcard {
    background: #e1e1e1;
    border-radius: 0.625rem;
    height: 178px;
    overflow: hidden;
    padding: 1.25rem 1.5625rem;
    position: relative;
}

.idcard-bg {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.idcard-logo {
    height: 45px;
    line-height: 1;
    position: relative;
    vertical-align: top;
    width: 45px;
}

.idcard-company {
    margin-top: 0.3125rem !important;
    position: relative;
}

.idcard-form {
    margin-top: 0.625rem;
    position: relative;
}

.idcard-form [type=text] {
    line-height: 1;
}

.idcard-agree {
    background: #ffffff;
}

.idcard-agree-content {
    min-height: 8.25rem;
    overflow: hidden;
    padding: 0.625rem;
}

.idcard-agree-content.opened {
    height: auto;
}

.idcard-agree-more {
    border-top: 1px solid #e6e6e6;
    font-size: 0.875rem;
    line-height: 2.5rem;
    text-align: center;
}

.idcard-read-agree {
    border-top: 1px solid #e6e6e6;
    color: #4c4c4c;
    line-height: 2.75rem;
    margin-bottom: -1.25rem;
}

.idcard-gift-list {
    background: #ffffff;
    padding: 0 0.625rem;
}

.idcard-gift-list > .index-title {
    line-height: 2.5rem;
}
