html {
  font-family: 微软雅黑, 'Microsoft Yahei', '冬青黑体简体中文 w3', 宋体, Lato, Calibri, Arial, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

body {
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.fake-link {
  text-decoration: none;
}

.vertical-center {
  display: flex;
}

.loader {
  display: flex;
  align-items: center;
}

.loader-hidden {
  display: none;
}